# Игнорируем временные и сборочные файлы Rust
target/
Cargo.lock
Cargo.toml

# Игнорируем папку с кэшем
/.idea/
/.vscode/

# Игнорируем системные файлы и файлы настроек IDE
.DS_Store
Thumbs.db

# Игнорируем файлы, которые могут содержать конфиденциальную информацию
.env
